<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>I-Licence profile</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap2.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />
    <link rel="stylesheet" href="/Fonts/fontawesome-all.min.css" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <nav
        class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-dark p-0"
      >
        <div class="container-fluid d-flex flex-column p-0">
          <a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
            href="#"
          >
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-user"></i>
            </div>
            <div class="sidebar-brand-text mx-3"><span>Admin</span></div>
          </a>
          <hr class="sidebar-divider my-0" />
          <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/Admin"
                ><i class="fas fa-user"></i><span>Show order</span></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/auth/Admin-message"
                ><i class="fas fa-user"></i><span>Show message</span></a
              >
            </li>
             <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/Admin-login"
                ><i class="fas fa-user"></i><span>Logout</span></a
              >
            </li>
          </ul>
          <div class="text-center d-none d-md-inline">
            <button
              class="btn rounded-circle border-0"
              id="sidebarToggle"
              type="button"
            ></button>
          </div>
        </div>
      </nav>
       <div class="container">
        <h4 class="pt-2 text-primary font-weight-bold">Medicine Orders</h4>
        <table class="table table-bordered mt-3">
            <thead class="thead-primary bg-dark text-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Address</th>
                    <th scope="col">Applicant Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Import Date</th>
                    <th scope="col">Entry Point</th>
                    <th scope="col">Substance Name</th>
                    <th scope="col">Drug Code</th>
                    <th scope="col">Concentration</th>
                    <th scope="col">Form</th>
                    <th scope="col">Pack Size</th>
                    <th scope="col">Total Pack</th>
                </tr>
            </thead>
            <tbody>

            {{#each result}}
            <tr>
                <th scope="row">{{this.ID}}</th>
                <td>{{this.OrgName}}</td>
                <td>{{this.Address}}</td>
                <td>{{this.FullName}}</td>
                <td>{{this.Role}}</td>
                <td>{{this.importDate}}</td>
                <td>{{this.EntryPoint}}</td>
                <td>{{this.SubstanceName}}</td>
                <td>{{this.drugCode}}</td>
                <td>{{this.Concentration}}</td>
                <td>{{this.FormSubstance}}</td>
                <td>{{this.PackSize}}</td>
                <td>{{this.TotalPack}}</td>
            </tr>
            {{/each}}

            </tbody>
        </table>
    </div>

      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="/bootstrap/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/bootstrap/chart.min.js"></script>
    <script src="/bootstrap/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/bootstrap/theme.js"></script>
  </body>
</html>
