<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>I-Licence profile</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap2.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />
    <link rel="stylesheet" href="/Fonts/fontawesome-all.min.css" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <nav
        class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-dark p-0"
      >
        <div class="container-fluid d-flex flex-column p-0">
          <a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
            href="#"
          >
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3"><span>EFDA</span></div>
          </a>
          <hr class="sidebar-divider my-0" />
          <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/show-profile"
                ><i class="fas fa-user"></i><span>Show Profile</span></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/profile"
                ><i class="fas fa-user"></i><span>Complete Profile</span></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/Import"
                ><i class="fas fa-user"></i><span>I-import</span></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/Login"
                ><i class="fas fa-user"></i><span>Logout</span></a
              >
            </li>
          </ul>
          <div class="text-center d-none d-md-inline">
            <button
              class="btn rounded-circle border-0"
              id="sidebarToggle"
              type="button"
            ></button>
          </div>
        </div>
      </nav>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <div class="container-fluid">
            <h3 class="text-dark mb-4">Profile</h3>
            <div class="row mb-3">
              <div class="col-lg-4">
                <div class="card mb-3">
                  <div class="card-body text-center shadow">
                    <img
                      class="rounded-circle mb-3 mt-4"
                      src="/Images/profile.png"
                      width="160"
                      height="160"
                    />
                    <div class="mb-3">
                      <button class="btn btn-dark btn-sm" type="button">
                        Change Photo
                      </button>
                    </div>
                  </div>
                </div>
            </div>
          <div class="col-lg-8">
            <form action="/auth/">
            <fieldset disabled="disabled">
            <div class="row">
              <div class="col">
                <div class="card shadow mb-3">
                  <div class="card-header py-3">
                    <p class="text-dark m-0 font-weight-bold">
                      User Settings
                    </p>
                  </div>
                  <div class="card-body">
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="username"
                              ><strong>Username</strong></label
                            >{{#if username}}
                                <h4 id="username">{{username}}</h4>
                              {{/if}}
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="email"
                              ><strong>Email Address</strong></label
                            >{{#if email}}
                                <h4 id="email">{{email}}</h4>
                              {{/if}}
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="first_name"
                              ><strong>First Name</strong></label
                            >{{#if firstname}}
                                <h4 id="first_name">{{firstname}}</h4>
                              {{/if}}
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="last_name"
                              ><strong>Last Name</strong></label
                            >{{#if lastname}}
                                <h4 id="lats_name">{{lastname}}</h4>
                              {{/if}}
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="card shadow mb-3">
                  <div class="card-header py-3">
                    <p class="text-dark m-0 font-weight-bold">
                      Contact Settings
                    </p>
                  </div>
                  <div class="card-body">
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="region"><strong>Region</strong></label
                            >{{#if region}}
                                <h4 id="region">{{region}}</h4>
                              {{/if}}
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="city"><strong>City</strong></label
                            >{{#if city}}
                                <h4 id="city">{{city}}</h4>
                              {{/if}}
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="address"><strong>Address</strong></label
                        >{{#if address}}
                              <h4 id="address">{{address}}</h4>
                          {{/if}}
                      </div>
                  </div>
                </div>
                <div class="card shadow">
                  <div class="card-header py-3">
                    <p class="text-dark m-0 font-weight-bold">
                      Organization setting
                    </p>
                  </div>
                  <div class="card-body">
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="org-name"><strong>Organization name</strong></label
                            >{{#if orgname}}
                                <h4 id="org-name">{{orgname}}</h4>
                              {{/if}}
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="applicant"><strong>Applicant Role</strong></label
                            >{{#if applicant}}
                                <h4 id="applicant">{{applicant}}</h4>
                              {{/if}}
                           </div>
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="col">
                          <div class="form-group">
                            <label for="licence" class="text-primary"><strong>Licence</strong></label>
                            {{#if licence}}
                                <h4 id="licence">{{licence}}</h4>
                              {{/if}}
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            </fieldset>
            </form>
          </div>
        </div>

        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © Brand 2022</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="/bootstrap/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/bootstrap/chart.min.js"></script>
    <script src="/bootstrap/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/bootstrap/theme.js"></script>
  </body>
</html>
